@model OnlineShoppingStore_2108G1.Models.Product

@{
    ViewBag.Title = "addproduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<main>
    using (@Html.BeginForm("addproduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="container">
        <div class="page-title-container">
            <div class="row g-0">
                <div class="col-auto mb-3 mb-md-0 me-auto">
                    <div class="w-auto sw-md-30">
                        <a href="#" class="muted-link pb-1 d-inline-block breadcrumb-back">
                            <i data-cs-icon="chevron-left" data-cs-size="13"></i>
                            <span class="text-small align-middle">Products</span>
                        </a>
                        <h1 class="mb-0 pb-0 display-4" id="title">Product Detail</h1>
                    </div>
                </div>
                <div class="w-100 d-md-none"></div>

                <div class="col col-md-auto d-flex align-items-end justify-content-end">
                    <div class="btn-group ms-1 w-100 w-md-auto">
                        <button type="submit" class="btn btn-outline-primary btn-icon btn-icon-start w-100">
                            <i data-cs-icon="send"></i>
                            <span>Add</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="mb-5">
                <h2 class="small-title">Product Info</h2>
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-Control", placeholder = "EnterProduct Name" } })
                            </div>
                            <div class="mb-3 w-100">
                                <label class="form-label">Category</label>
                                @Html.DropDownList("CategoriesList", null, htmlAttributes: new { @class = "select-single-no-search" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Short Description</label>
                                @Html.EditorFor(m => m.ShortDescription, new { htmlAttributes = new { @class = "html=editor-bubble html-editor sh-13", placeholder = "quillEditorBubble" } })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Long Description</label>
                                @Html.EditorFor(m => m.LongDescription, new { htmlAttributes = new { @class = "html=editor-bubble html-editor sh-25", placeholder = "quillEditorBubble" } })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Price</label>
                                <input type="file" name="file" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Price:</label>
                                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-Control", placeholder = "EnterProduct Price" } })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Available Stock:</label>
                                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-Control", placeholder = "Enter Product Price" } })
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>


    }
</main>